.home {
  background-image: url('../images/home_bg.jpg');
  height: 100%;
  background-size: cover;
}
.home-wrapper {
  height: 100%;
}
.welcome {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    rgb(140, 189, 206),
    rgb(119, 117, 117),
    rgb(31, 29, 29)
  );
  font-family: Luminari, fantasy;
  font-size: 30px;
  opacity: 0.9;
  box-shadow: 3px 0 8px 8px rgb(136, 134, 146);
  border-radius: 0 0 5px 5px;
}

.sword {
  animation: rotation 8s infinite linear;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  height: 150px;
  opacity: 0.6;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.planets-result {
  position: relative;
  height: auto;
  min-height: 200px;
  top: 58px;
  width: 525px;
  left: 0;
  right: 0;
  max-height: 400px;
  padding: 10px;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 40px black, 2px 1px 9px 14px #ffffffeb;
}

.planet-name {
  height: 50px;
  background-color: white;
  border-bottom: 1px gray solid;
  display: flex;
  align-items: center;
  font-family: 'Lucida Console', Courier, monospace;
}
.planet-detail {
  overflow: auto;
  position: absolute;
  top: 40%;
  left: 0;
  text-align: left;
  width: 90%;
  padding: 0 40px 0 40px;
}

.planet-table {
  border: 1px solid black !important;
  background-color: white !important;
  border: 1px solid black !important;
  width: 100%;
  overflow: auto !important;
}

.planet-table td {
  border: 1px solid black !important;
  height: 30px;
}
